{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <section class="wrapper">
    <img class="account_image" src="{% static 'assets/main.jpg' %}" alt="#">
    <div class="account_flex">  
      <img class="account_icon" src="{% static 'assets/main.jpg' %}" alt="#">
      <div>
        <p>名前</p>
        <p>キャッチコピー</p>
      </div>
    </div>
    <h2 class="account_subtitle">自己紹介</h2>
    <p>テキスト</p>
    <p>テキスト</p>
    <p>テキスト</p>
    <p>テキスト</p>
    <h2 class="account_subtitle">実績</h2>
    <p>他のサービス履歴</p>
    <p>他のサービス履歴</p>
    <p>他のサービス履歴</p>
    <p>他のサービス履歴</p>
    <p>他のサービス履歴</p>
  </section>
{% endblock %}